# Port server
SERVER_PORT=3003

# Database Configuration
MYSQL_HOST=localhost
MYSQL_DATABASE=parking_management
MYSQL_PASSWORD=your_password_here

# Garage Simulator Configuration
GARAGE_SIMULATOR_BASE_URL=http://host.docker.internal:3000
APP_WEBHOOK_URL=http://host.docker.internal:3003/webhook